@import "colors-waybar.css";

* {
  font-family: "JetBrains Mono", FontAwesome, sans-serif;
  font-size: 13px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  color: @foreground;
}

window#waybar.hidden {
  opacity: 0.1;
}

#window,
#custom-network,
#language,
#wireplumber,
#wireplumber.icon,
#wireplumber.sink,
#wireplumber.source,
#clock,
#cpu,
#memory,
#disk,
#tray,
#workspaces,
#custom-power-menu,
#custom-swaync,
#group-stats,
#group-audio {
  color: @foreground;
  padding: 0 11px 2px;
  background-color: @background;
  border-radius: 0 0 10px 10px;
  margin: 0 2px;
}

#group-stats,
#group-audio {
  padding: 0 3px 1px;
}

#group-stats #cpu,
#group-stats #memory,
#group-stats #disk,
#group-audio #wireplumber.icon,
#group-audio #wireplumber.sink,
#group-audio #wireplumber.source {
  margin: 0;
  padding: 0 6px 1px;
  border-radius: 0;
  background: transparent;
}

#group-stats #cpu {
  border-bottom-left-radius: 10px;
}

#group-stats #disk {
  border-bottom-right-radius: 10px;
}

#group-audio #wireplumber.icon {
  border-bottom-left-radius: 10px;
  color: @color14;
  padding: 0 4px 1px;
  min-width: 0;
}

#group-audio #wireplumber.sink {
  border-bottom-left-radius: 0;
}

#group-audio #wireplumber.source {
  border-bottom-right-radius: 10px;
}

#workspaces {
  padding: 0 4px 1px;
}

#workspaces button {
  color: @color11;
  padding: 0 8px 1px;
  margin: 0 1px;
  border-radius: 0 0 6px 6px;
  transition: all 0.2s ease;
}

#workspaces button.active {
  color: @foreground;
  background-color: @color9;
  border-radius: 0 0 8px 8px;
}

#tray {
  padding: 0 9px 1px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#custom-swaync,
#cpu {
  color: @color10;
}

#language,
#disk {
  color: @color12;
}

#wireplumber.sink {
  color: @color14;
}

#custom-network {
  color: @color13;
  min-width: 13.5em;
}

#group-audio #wireplumber.source,
#wireplumber.source {
  color: @color13;
  min-width: 0;
  padding: 0 5px 1px;
}

#custom-network.disconnected {
  color: @color11;
}

#memory,
#wireplumber.muted,
#wireplumber.sink-muted {
  color: @color11;
}

#clock {
  color: @color12;
}

#custom-power-menu {
  color: @color11;
  font-size: 14px;
}

tooltip {
  border-radius: 0 0 10px 10px;
  padding: 8px;
  background-color: @background;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: bold;
}

tooltip label {
  padding: 2px;
}
